method.return=groovy:  ```
it.returnType().toString().indexOf("com.baomidou.mybatisplus.core.metadata.IPage")==0 ? \
  "com.cloudhealth.starter.web.result.CommonResult<com.baomidou.mybatisplus.extension.plugins.pagination.Page<" +it.returnType().toString()[45..-2] +">>": \
  "com.cloudhealth.starter.web.result.CommonResult<" + it.returnType().toString()+">"
 ```